---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import { getCollection } from 'astro:content'
import type { StaffMember } from '@types'

const staff: StaffMember[] = await getCollection('staff')
---

<section id="team">
  {/* Top purple background section */}
  <div class="bg-purple-600 px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
    {/* Section header text */}
    <div class="mx-auto max-w-2xl lg:max-w-screen-xl">
      <div class="lg:grid lg:grid-cols-2 lg:gap-16">
        <div class="flex items-center">
          <h3 class="h2 max-w-4xl text-white sm:text-center lg:text-left">
            Meet the awesome staff behind Bright school
          </h3>
        </div>
        <div class="flex items-center">
          <p
            class="mt-5 text-xl leading-relaxed text-purple-50 sm:text-center lg:mt-0 lg:text-left"
          >
            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet
            dui. Curabitur arcu erat, accumsan id imperdiet et, porttitor at
            sem. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
          </p>
        </div>
      </div>
    </div>
  </div>
  {/* background to create overlay effect */}
  <div class="h-32 w-full bg-purple-600"></div>
  {/* Team section */}
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-3xl -translate-y-32 lg:max-w-screen-xl">
      <div
        class="grid gap-y-16 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-3 lg:gap-x-8"
      >
        {
          staff.map((member) => (
            <div>
              {/* Staff member image */}
              <div class="aspect-h-2 aspect-w-3">
                <Image
                  src={member.data.image}
                  class="rounded-2xl object-cover"
                  alt={`${member.data.name} portrait`}
                />
              </div>
              {/* Staff member info */}
              <div class="flex items-center justify-between">
                <div class="mt-3 text-xl font-medium">
                  <p class="font-semibold tracking-wide text-purple-900">
                    {member.data.name}
                  </p>
                  <p class="text-lg text-purple-600">{member.data.role}</p>
                </div>
                {/* Social links */}
                <div class="flex space-x-1.5">
                  {member.data.social.map(
                    (socialLink: { name: string; href: string }) => (
                      <a href={socialLink.href}>
                        <Icon
                          name={socialLink.name}
                          class="durarion-300 h-[22px] w-[22px] text-purple-600 transition ease-in-out hover:text-purple-500"
                        />
                      </a>
                    )
                  )}
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
