---
import { Image } from 'astro:assets'
import heroImage1 from '@images/stock/gallery/gallery-hero-01.jpg'
import heroImage2 from '@images/stock/gallery/gallery-hero-02.jpg'
import heroImage3 from '@images/stock/gallery/gallery-hero-03.jpg'
import heroImage4 from '@images/stock/gallery/gallery-hero-04.jpg'
import heroImage5 from '@images/stock/gallery/gallery-hero-05.jpg'
import heroImage6 from '@images/stock/gallery/gallery-hero-06.jpg'
---

<section class="relative bg-purple-25 px-4 pt-16 sm:px-6 lg:px-8">
  {/* Container */}
  <div class="mx-auto max-w-screen-xl">
    {/* Hero header text */}
    <div class="relative">
      <div class="flex justify-center">
        <span
          class="inline-block -rotate-1 rounded-full bg-purple-200 px-4 py-2 font-medium text-purple-700 shadow-md"
        >
          Creating memories for life
        </span>
      </div>
      <h2 class="h1 mx-auto mt-4 max-w-3xl text-center text-purple-900">
        See what the Bright experience looks like
      </h2>
      <p
        class="mx-auto mt-4 max-w-2xl text-center text-xl leading-relaxed text-purple-800 sm:mt-5"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Aenean et tortor at
        risus viverra adipiscing at in.
      </p>
    </div>

    {/* Hero images */}
    <div
      id="hero-gallery"
      class="relative z-10 mt-14 grid grid-cols-12 gap-4 sm:mt-16 sm:gap-6 md:mt-20 lg:mt-24 lg:gap-10 lg:px-4 xl:gap-12 2xl:px-16"
    >
      <div class="col-span-4 flex flex-col md:col-span-2 md:justify-end">
        {/* Image 1 */}
        <figure
          class="group aspect-h-1 aspect-w-1 relative w-full cursor-pointer hover:z-50"
          data-src={heroImage1.src}
        >
          <Image
            src={heroImage1}
            class="absolute inset-0 h-full w-full rotate-3 rounded-2xl object-cover object-center shadow-2xl duration-300 ease-in-out group-hover:rotate-0 group-hover:scale-110 md:-translate-y-12 md:translate-x-3 md:-rotate-8"
            alt="Child using scissors"
          />
        </figure>
      </div>
      <div class="col-span-8 flex md:col-span-3 md:flex-col">
        {/* Image 2 */}
        <div class="mr-2 w-1/2 sm:mr-3 md:mr-0 md:w-full">
          <figure
            class="group aspect-h-1 aspect-w-1 relative z-10 cursor-pointer hover:z-50"
            data-src={heroImage2.src}
          >
            <Image
              src={heroImage2}
              class="absolute inset-0 h-full w-full -rotate-3 rounded-2xl object-cover object-center shadow-2xl duration-300 ease-in-out group-hover:rotate-0 group-hover:scale-110 md:-rotate-8"
              alt="Children stacking blocks"
            />
          </figure>
        </div>

        {/* Image 3 */}
        <div class="relative ml-2 w-1/2 sm:ml-3 md:ml-6">
          <figure
            class="group aspect-h-1 aspect-w-1 cursor-pointer hover:z-50"
            data-src={heroImage3.src}
          >
            <Image
              src={heroImage3}
              class="absolute inset-0 h-full w-full rotate-3 rounded-2xl object-cover object-center shadow-2xl duration-300 ease-in-out group-hover:rotate-0 group-hover:scale-110 md:rotate-8"
              alt="Children painting"
            />
          </figure>
        </div>
      </div>
      <div class="col-span-4 md:col-span-4 md:pr-4">
        {/* Image 4 */}
        <figure
          class="group aspect-h-1 aspect-w-1 relative w-full cursor-pointer hover:z-50"
          data-src={heroImage4.src}
        >
          <Image
            src={heroImage4}
            class="absolute inset-0 h-full w-full -rotate-3 rounded-2xl object-cover object-center shadow-2xl duration-300 ease-in-out group-hover:rotate-0 group-hover:scale-110 md:rotate-4"
            alt="Teacher reading to kids"
          />
        </figure>
      </div>
      <div
        class="col-span-8 flex md:col-span-3 md:translate-y-12 md:flex-col md:pr-3"
      >
        {/* Image 5 */}
        <div class="mr-2 w-1/2 sm:mr-3 md:mr-0 md:w-full">
          <figure
            class="group aspect-h-1 aspect-w-1 relative z-10 cursor-pointer hover:z-50"
            data-src={heroImage5.src}
          >
            <Image
              src={heroImage5}
              class="absolute inset-0 h-full w-full rotate-3 rounded-2xl object-cover object-center shadow-2xl duration-300 ease-in-out group-hover:rotate-0 group-hover:scale-110 md:rotate-12"
              alt="Children stretching"
            />
          </figure>
        </div>

        {/* Image 6 */}
        <div class="relative ml-2 w-1/2 sm:ml-3 md:-ml-3 md:w-2/3 lg:-ml-6">
          <figure
            class="group aspect-h-1 aspect-w-1 relative cursor-pointer hover:z-50 md:-translate-y-6"
            data-src={heroImage6.src}
          >
            <Image
              src={heroImage6}
              class="absolute inset-0 h-full w-full -rotate-3 rounded-2xl object-cover object-center shadow-2xl duration-300 ease-in-out group-hover:rotate-0 group-hover:scale-110 md:-rotate-8"
              alt="Child holding up ART letters"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
