---
import InfoCard from './ProgramInfoCard.astro'
import ProgramTutor from './ProgramTutor.astro'
import type { Program } from '@types'

interface Props {
  program: Program
}

const { program } = Astro.props
---

<section class="relative w-full px-4 py-16 sm:px-6 sm:py-24 lg:px-8 lg:py-32">
  {/* Container */}
  <div class="mx-auto max-w-xl lg:max-w-screen-xl">
    {/* Section header text */}
    <div class="lg:grid lg:grid-cols-2 lg:gap-16 xl:gap-32">
      <div class="flex items-center">
        <h2 class="h2 max-w-4xl text-purple-900">
          {program.data.infoSection.headline}
        </h2>
      </div>
      <div class="mt-6 flex items-center lg:mt-0">
        <p class="text-xl leading-relaxed text-purple-800">
          {program.data.infoSection.text}
        </p>
      </div>
    </div>
    {
      program.data.name === 'Tutor Service Online/Offline' && (
        <ProgramTutor program={program} />
      )
    }
    {/* Class info */}
    <div
      class="mt-12 grid gap-8 sm:mt-14 sm:max-w-none sm:grid-cols-2 sm:gap-6 lg:mt-24 lg:grid-cols-4 xl:gap-12"
    >
      {
        program.data.name === 'Undergraduate Admissions Consulting' && (
          <>
            <InfoCard
              icon="mood-kid"
              title="GPA Premier Consulting and Extracurricular Profile"
              gradientColors={{
                bgColor: 'bg-yellow-200',
                iconBgColor: 'bg-yellow-400',
                startColor: 'from-yellow-400',
                endColor: 'to-yellow-500',
              }}
              text={program.data.infoSection.ages}
            />

            <InfoCard
              icon="calendar"
              title="Tailored Academic Roadmap"
              gradientColors={{
                bgColor: 'bg-purple-50',
                iconBgColor: 'bg-purple-200',
                startColor: 'from-purple-200',
                endColor: 'to-purple-300',
              }}
              text={program.data.infoSection.duration}
            />

            <InfoCard
              icon="clock"
              title="Target college List & College applications"
              gradientColors={{
                bgColor: 'bg-rose-50',
                iconBgColor: 'bg-rose-200',
                startColor: 'from-rose-100',
                endColor: 'to-rose-300',
              }}
              text={program.data.infoSection.schedule}
            />

            <InfoCard
              icon="users-group"
              title="Standardized Test Preparation"
              gradientColors={{
                bgColor: 'bg-blue-50',
                iconBgColor: 'bg-blue-200',
                startColor: 'from-blue-100',
                endColor: 'to-blue-300',
              }}
              text={program.data.infoSection.classSize}
            />
            <InfoCard
              icon="mood-kid"
              title="Essay Writing Practice & Interview Training"
              gradientColors={{
                bgColor: 'bg-yellow-200',
                iconBgColor: 'bg-yellow-400',
                startColor: 'from-yellow-400',
                endColor: 'to-yellow-500',
              }}
              text={program.data.infoSection.program1 ?? ''}
            />

            <InfoCard
              icon="calendar"
              title="Summer Activities Planning: Work Research, Summer Camp"
              gradientColors={{
                bgColor: 'bg-purple-50',
                iconBgColor: 'bg-purple-200',
                startColor: 'from-purple-200',
                endColor: 'to-purple-300',
              }}
              text={program.data.infoSection.program2 ?? ''}
            />

            <InfoCard
              icon="clock"
              title="Career Counseling"
              gradientColors={{
                bgColor: 'bg-rose-50',
                iconBgColor: 'bg-rose-200',
                startColor: 'from-rose-100',
                endColor: 'to-rose-300',
              }}
              text={program.data.infoSection.program3 ?? ''}
            />

            <InfoCard
              icon="users-group"
              title="Motivation, Time Management & Strategies"
              gradientColors={{
                bgColor: 'bg-blue-50',
                iconBgColor: 'bg-blue-200',
                startColor: 'from-blue-100',
                endColor: 'to-blue-300',
              }}
              text={program.data.infoSection.program4 ?? ''}
            />
          </>
        )
      }
    </div>
  </div>
</section>
