---
import InfoCard from './ProgramInfoCard.astro'
import type { Program } from '@types'

interface Props {
  program: Program
}

const {
  program: {
    data: { infoSection: data },
  },
} = Astro.props
---

<section class="relative w-full px-4 py-16 sm:px-6 sm:py-24 lg:px-8 lg:py-32">
  {/* Container */}
  <div class="mx-auto max-w-xl lg:max-w-screen-xl">
    {/* Section header text */}
    <div class="lg:grid lg:grid-cols-2 lg:gap-16 xl:gap-32">
      <div class="flex items-center">
        <h2 class="h2 max-w-4xl text-purple-900">{data.headline}</h2>
      </div>
      <div class="mt-6 flex items-center lg:mt-0">
        <p class="text-xl leading-relaxed text-purple-800">
          {data.text}
        </p>
      </div>
    </div>
    {/* Class info */}
    <div
      class="mt-12 grid gap-8 sm:mt-14 sm:max-w-none sm:grid-cols-2 sm:gap-6 lg:mt-24 lg:grid-cols-4 xl:gap-12"
    >
      <InfoCard
        icon="mood-kid"
        title="Grades"
        gradientColors={{
          bgColor: 'bg-yellow-200',
          iconBgColor: 'bg-yellow-400',
          startColor: 'from-yellow-400',
          endColor: 'to-yellow-500',
        }}
        text={data.ages}
      />

      <InfoCard
        icon="calendar"
        title="Dates"
        gradientColors={{
          bgColor: 'bg-purple-50',
          iconBgColor: 'bg-purple-200',
          startColor: 'from-purple-200',
          endColor: 'to-purple-300',
        }}
        text={data.duration}
      />

      <InfoCard
        icon="clock"
        title="Schedule"
        gradientColors={{
          bgColor: 'bg-rose-50',
          iconBgColor: 'bg-rose-200',
          startColor: 'from-rose-100',
          endColor: 'to-rose-300',
        }}
        text={data.schedule}
      />

      <InfoCard
        icon="users-group"
        title="Class sizes"
        gradientColors={{
          bgColor: 'bg-blue-50',
          iconBgColor: 'bg-blue-200',
          startColor: 'from-blue-100',
          endColor: 'to-blue-300',
        }}
        text={data.classSize}
      />
    </div>
  </div>
</section>
